<p>integration works!</p>
<div id="component-container" class="integration-container" [attr.data-loaded]="true">
    <div class="header v6qhvo gHYIQE">
      <h1 class="H1--1mcoedz header-title -7umktj StyledHeaderTitle --18bh21i js0wiq ctpwAr fwvnPv">
        Integrations for crypto taxes
      </h1>
      <span>here.........</span>
    </div>
    <div class="SearchContainer 1h6aqfe bllRgc">
      <img class="SearchIcon --1p38mla ghfcgp greyscale" src="https://s3-us-west-1.amazonaws.com/coin-tracker-public/static/images/sprites/search.svg">
      <input type="text" placeholder="search for exchanges, wallets, or blockchains" class="searchInput---9rg1ka bBqaie">
    </div>
  </div>
  
