<div class="container">
    <h2>About CryptoMarket</h2>
    <div class="info-box bg-light p-3 mb-4">
        <p>
            Cryptocurrency Portfolio Management Application that allows users to track, manage, and analyze their cryptocurrency investments.
            The application will provide users with real-time information about various Cryptocurrencies, their prices, historical performance, 
            and allow them to monitor their portfolio's value and performance over time. Users can add, remove, update, read their cryptocurrency holdings,
            and the application will provide analytics to help users make informed investment decisions.
          </p>
          <p>
            It provides the latest information about cryptocurrencies and the crypto market. We aim to keep you updated with the most relevant and accurate data
            to help you make informed decisions in the crypto space.
          </p>
    </div>
    <h3>Key Features</h3>
  <ul class="key-features">
    <li>Real-time cryptocurrency information and prices</li>
    <li>CRUD Options </li>
    <li>Analytics and performance insights</li>
    <li>Historical data visualization</li>
    <li>User-friendly interface</li>
    <li>Secure and private</li>
  </ul>

    <div class="contact-info">
      <h3>Contact Information</h3>
      <div class="contact-box bg-light p-3 mb-4">
        <ul class="list-unstyled mb-0">
          <li><strong>Name:</strong> TEC</li>
          <li><strong>Email:</strong> Cryptomarket23@Info.com</li>
          <li><strong>Phone:</strong> +1 (123) 456-7890</li>
        </ul>
        <address class="text-italic mt-3">
          Telegrafvej 9 <br>
          Bellarup, 2750 <br>
          Copenhagen
        </address>
      </div>
      <div class="buttons">
        <button class="btn btn-primary">Contact Us</button>
        <button class="btn btn-secondary">Learn More</button>
      </div>
    </div>
  </div>
