  
 <html>
 <head>
   <title>User Details</title>

 </head>

 <div class="container mt-5"> 

     
  <h1 class="h1" id="tableLabel">User Details</h1>
  
  <p>Fetching data from the server.</p>
  <div *ngif="users">
    <div *ngif="users.length===0">
      <p>No users found</p>
    </div>
  </div>
 

  <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="users.length>0" >
    <thead class="bg-primary text-white  ">
      <tr>
        <th>#</th>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Email</th>
        <th>Transaction ID</th>
        <th>Transaction Date</th>
        <th>Wallet ID</th>
        <th>Wallet Balance </th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">

     <td>{{ user.id}}</td>
        <td>{{user.firstName}}</td>
      <td>{{ user.lastName}}</td>
      <td>{{ user.email}}</td>
      <td>
        <ng-container *ngFor="let transaction of user.transactions">
          {{ transaction.id}}<br>
        </ng-container>
        
      </td>
      <td>
        <ng-container *ngFor="let transaction of user.transactions">
          {{ transaction.date|date:'yyyy-MM-dd HH:mm:ss'}}<br>
        </ng-container>
      </td>
      <td>
        <ng-container *ngFor="let wallet of user.wallets">
          {{ wallet.id }}<br>
        </ng-container>
      </td>
      <td>
        <ng-container *ngFor="let wallet of user.wallets">
          {{ wallet.balance }}<br>
        </ng-container>
      </td>

      </tr>
    </tbody>
  </table>


  </div>   







 
  


 