<!--<button routerLink="/coin-list"  type="submit" class="btn btn-primary btn-block  w-20" >Home</button> -->


<div class="outer">
    <div class="containers">
        <div class = "row">
            <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3" >
                <div class="pannel border ">
                    <div class="pannel-heading">
                        <h3 class="pt-3 font-weight-bold">Login</h3>
                    </div>
                    <div class="pannel body p3">
                        

                            <form [formGroup]="loginform" >
                                <div class="for-group pt-3 mx-5 ">
                                <div class="input-field mx-5 " [class.error]="loginform.controls['Email'].dirty && loginform.hasError('required','Email')">
                                    <span class="fa fa-envelope p-2" ></span>
                                    <input formControlName="Email" type="text" placeholder="Email">
                                </div>
                                  <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
                                </div>
                                <small *ngIf ="loginform.controls['Email'].dirty && loginform.hasError('required','Email')" class="text-danger mx-5 fw-bold" >*Email is Requried</small>
                                <div class="for-group pt-3 mx-5">
                                    <div class="input-field mx-5" [class.error]="loginform.controls['Password'].dirty && loginform.hasError('required','Password')" >
                                        <span class="fa fa-lock p-2" ></span>
                                        <input formControlName="Password" [type]="type" placeholder="Password">
                                        <span (click)="hideshowpass()" class="fa {{eyeIcon}}"></span>
                                    </div>
                                      
                                    </div>
                                    <small *ngIf ="loginform.controls['Password'].dirty && loginform.hasError('required','Password')" class="text-danger"  class="text-danger mx-5 fw-bold"> *Password is Requried </small>

                                <div class="mb-3 form-check"><br>
                                 <!-- <br> <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                  <label class="form-check-label" for="exampleCheck1">Check me out</label> -->
                                </div>
                                <div class="form-inline mt-4 mx-3 mb-2 fw-bold ">
                                    <a id="forget" class="text-center"> Forget Password?</a>
                                </div>

                                <button  (click)="onLogin()"  type="submit" class="btn btn-primary btn-block " >Login</button>
                                <div class="text-center pt-4 text-muted fw-bold">Don't have account? <a id="forget" class="forget" routerLink="/signup" >Sign Up <i class="fa fa-spinner" aria-hidden="true"></i></a>  </div>
                                
                                
                               
                              </form> 

                        


                    </div>

                    <!-- <div class="mx-4 my-3 py-4 bordert">
                        <div class="text-center py-4">
                            <a href="https://da-dk.facebook.com/" target="_blank" class="px-2"><img src="https://www.freepnglogos.com/uploads/logo-facebook-png/logo-facebook-facebook-logo-transparent-png-pictures-icons-and-0.png" alt=""> </a>
                            <a href="https://accounts.google.com/v3/signin/identifier?dsh=S1409400095%3A1674637747834983&continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&rip=1&sacu=1&service=mail&flowName=GlifWebSignIn&flowEntry=ServiceLogin&ifkv=AWnogHftvhBjUR6Q9kuK5eE-Jm8z6gGlTahhUV2kmTh5u-EfQl_k6BtyDoGrk0DjceYNZJ3M606CHw"  target="_blank" class="px-2"><img src="https://www.freepnglogos.com/uploads/google-logo-png/google-logo-png-suite-everything-you-need-know-about-google-newest-0.png" alt="" /></a>
                            <a href="https://www.instagram.com/" target="_blank" class="px-2"><img src="https://www.freepnglogos.com/uploads/transparent-instagram-logo----6.png" alt=""> </a>


                        </div> 


                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>