<div class="banner">
  <div class="container-fluid bg-dark ">
    <div class="row " >
      <nav id="sidebarMenu " >
        <div class=" pt-2 ml-10 ">
          <ul class="nav ">
            <li class="nav-item" >
              <!-- <a class="nav-link active" aria-current="page" href="#"  [routerLink]="['/dashboard']" > -->
                <a class="nav-link active" aria-current="page" href="#"  [routerLink]="['/dashboard']" >
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home align-text-bottom" aria-hidden="true"></svg>
                Dashboard
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" [routerLink]="['/coin-detail']">
          
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file align-text-bottom" aria-hidden="true"><path d="M12 2c-5.52 0-10 4.48-10 10s4.48 10 10 10 10-4.48 10-10-4.48-10-10-10zm0 18c-4.41 1.57-3-1h1v1zm1 00-6v-1h1v1h-1z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>
                CoinDetails 
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" [routerLink]="['/CryptoCurrency']" >
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-cart align-text-bottom" aria-hidden="true"><circle cx="9" cy="21" r="1"></circle><circle cx="20" cy="21" r="1"></circle><path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path></svg>
                CryptoCurrency
              </a>
            </li>
          
            <li class="nav-item">
              <a class=" nav-link active" aria-current="page" href="#"  [routerLink]="['/dashboard']">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users align-text-bottom" aria-hidden="true"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
                Users
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart-2 align-text-bottom" aria-hidden="true"><line x1="18" y1="20" x2="18" y2="10"></line><line x1="12" y1="20" x2="12" y2="4"></line><line x1="6" y1="20" x2="6" y2="14"></line></svg>
                Reports
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layers align-text-bottom" aria-hidden="true"><polygon points="12 2 2 7 12 12 22 7 12 2"></polygon><polyline points="2 17 12 22 22 17"></polyline><polyline points="2 12 12 17 22 12"></polyline></svg>
                Integrations
              </a>
            </li>
          </ul>
        </div>
      </nav>
    
  </div>


</div>
    <div class="container ">

      
          
      
      <div class="headder " >
                   <div class="video-container  ">
                     <!-- its related crypto video container  -->
                      <video autoplay muted loop  >
                        <source   src="assets\clown-64093.mp4" type="video/mp4 ">
                       </video>
                        <!-- inside the video message  -->
                     <div class="text-overlay">
                       <h1>Welcome to our Crypto Market</h1>
                         <p>Do you want to play-----?</p>
                        <!-- <button>Join the crypto platform</button> -->
                         <!-- //linkup to the account registration -->
                        <div> 
                        <button class="btn btn-success fw-bold " [routerLink]="['/signup']"  > Register Now </button>
                       </div>

                      </div>
                    </div>

          
            
          </div>
      
        
              
           <div class="sub-header"> 
             <!-- this is the marque that is running in the middel of our page with the different cions  -->
             <marquee behavior="scroll" onmouseover="stop()" onmouseout="start()" loop="infinite" direction="left" >
              <div class="row">
          
                   <ng-container *ngFor="let row of bannerData">
                       <div class="col-1">
          
                          <div class="card">
          
                              <img [src]="row.image" width="100" class="img-fluid" alt="" >
                              <div class="card-body">
                                  <h5 class="card-title">{{row.symbol | uppercase}} <span class="text-danger">{{row.market_cap_change_percentage_24h}}%</span></h5>
                                  <p class="card-text">{{row.current_price}} USD</p>
                                 
                              </div>
          
                          </div>
          
                       </div>
          
                   </ng-container>
              
              </div>
          
             </marquee>
           </div>

    </div>
    

  