/* .align-center{
  display: inline-flex;
  align-items:center;
} */

.headder{
 
   flex-direction: column;
   justify-content: center;
   color: rgb(255, 255, 255);   
   width: 100%;
   height: 10%;
   /* z-index: -2.5; */
   filter: blur(0.005px);

}

.video-container {
  margin-top: 10px;
    width: 130vw;
    height: 40vh;
    background-color: none;
   /* position: center; */
  }
  
  video {
    position: absolute;

    width: 100%;
    height: 90%;
    object-fit: cover;
    /* background-size: cover; */
    /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background:center; */
  }
  
  .text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
  }
  

 
    .text {
      margin-top: 40px;
    
    margin-bottom: 5px;
      font-size: 36px;
      display: inline-block;
      color: rgb(75, 157, 224);
      text-align: center;
   
      padding: 10px 20px;
    
      animation: lightning 2s linear infinite;
    
      opacity: 0.50; /* Adjust the opacity to reduce darkness */
    }
    
    @keyframes lightning {
      20% {
        color: #000; /* Start with a dark color */
        text-shadow:none; /* Remove any existing text shadow */
      }
      50% {
        color: rgb(21, 226, 55); /* Transition to a light color */
        text-shadow: none; /* Add a text shadow for emphasis */
      }
      20% {
        color: rgb(0, 0, 0); /* Transition back to a dark color */
        text-shadow: none; /* Remove the text shadow */
      }
    }

  
  p {
    font-size: 1rem;
    margin-bottom: 2rem;
  }
  
  .btn {
    font-size: 0.8rem;
    /* padding: 1rem 2rem; */
    border-radius: 8px;
    /* background-color: #ff7300;  */
    /* color: #fff; */
    border: none;
    cursor: pointer;
      
  }

h2{
    font-weight: bold;
    margin-top: 150px;
    margin-bottom: 50px;
    font-size: 3rem;
    letter-spacing: -0.0083em;
   
}

h6{
   
    margin-top: 10px;
    text-transform: capitalize;
    font-size: 1.4rem;
    font-weight:italic ;
    line-height: 0.3;
    letter-spacing: -0.00714em ;

}

.banner{
    /* background-image: url('../../assets/wp4678541.webp'); */
    background-image: url('../../assets/bitcoin.jpg');
    /* background-image: url(); */
    height: 100vh;
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;

    

     /* margin-top: -9px;  */
    
    
}
.sub-header{
      /* margin-top: 100px;  */
    height: 50%;
    display: flex;
    align-items: center;
    
}
.card{
    border: 0;
    background: transparent;
    padding: 10px;
    margin: 100px;
    width:  100px;
    height: 200px;
}

img{
    width: 100px;
    margin:  10px;
    padding-right: 20px;
    
}

h5{
    font-size: 70%;
    font-style: italic;
    font-weight: 800;
    color: rgb(238, 238, 238);

}
p{
    font-weight: 600;
    color: rgb(236, 236, 236);
}

