



<div class="banner">
  
    <div class="row " >
      
    
  </div>
  






    <div class="container ">

      
          
      
      <div class="headder " >
                   <div class="video-container">
                     <!-- its related crypto video container  -->
                      <!-- <video autoplay muted loop  >
                        <source   src="assets\clown-64093.mp4" type="video/mp4" >
                       </video> -->
                        <!-- inside the video message  -->
                        <div class="text-overlay ">
                          <h1 class="text">Welcome to our Crypto Market</h1>
                         
                        <!-- <button>Join the crypto platform</button> -->
                         <!-- //linkup to the account registration -->
                        <div> 
                        <button class="btn btn-success fw-bold " [routerLink]="['/signup']"  > Register Now </button>
                       </div>

                      </div>
                    </div>

          
            
          </div>
      
        
              
           <div class="sub-header"> 
             <!-- this is the marque that is running in the middel of our page with the different cions  -->
             <marquee behavior="scroll" onmouseover="stop()" onmouseout="start()" loop="infinite" direction="left" >
              <div class="row">
          
                   <ng-container *ngFor="let row of bannerData">
                       <div class="col-1">
          
                          <div class="card">
          
                              <img [src]="row.image" width="100" class="img-fluid" alt="" >
                              <div class="card-body">
                                  <h5 class="card-title">{{row.symbol | uppercase}} <span class="text-danger">{{row.market_cap_change_percentage_24h}}%</span></h5>
                                  <p class="card-text">{{row.current_price}} USD</p>
                                 
                              </div>
          
                          </div>
          
                       </div>
          
                   </ng-container>
              
              </div>
          
             </marquee>
           </div>

    </div>
    <router-outlet></router-outlet>
    

  