
<!-- <div class="price-form-container">
    <div mat-dialog-title>
      <h1 class="form-title">Transactions Form</h1>
    </div>
    <form [formGroup]="transactionForm" (ngSubmit)="saveTransaction()" class="custom-form">
      <div mat-dialog-content class="content">
        <div class="row">
    -->
            <!-- <mat-label>Id</mat-label> -->
            <!-- <input matInput type="hidden" placeholder="Enter Id" formControlName="id" name="id" aria-label="Id"> -->
          
          
            <!-- <mat-label>Coin Id</mat-label> -->
            <!-- <input matInput type="text" placeholder="Enter user Id" formControlName="coinId" name="coinId" aria-label="Coin Id"> -->
            
          
            <!-- <mat-label>Coin Value</mat-label> -->
            <!-- <input matInput type="text" placeholder="Enter date " formControlName="Value" name="Value" aria-label="Value"> -->
            <!-- <input matInput [matDatepicker]="picker">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker> -->

            
            
        <!-- </div>
      </div>
      <div mat-dialog-actions class="action">
        <button mat-raised-button color="warn" type="button" [mat-dialog-close]="false">Cancel</button>
        <button mat-raised-button color="accent" type="submit">Save</button>
      </div>
    </form>
  </div> -->
  <div class="container">
  <h1>Add Transaction</h1>
  <form [formGroup]="transactionForm" (ngSubmit)="saveTransaction()">
    <mat-form-field>
      <input matInput placeholder="Enter User ID" formControlName="userId" name="userId" aria-label="User ID">
      
    </mat-form-field>
    
    <mat-form-field>
      <input matInput [matDatepicker]="picker" formControlName="Date" placeholder="Select a date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    
    <!-- Other form controls -->

    <button mat-raised-button color="primary" type="submit">Save Transaction</button>
  </form>
</div>

   
