

 <lib-ng-toast></lib-ng-toast>
  <header>
    <nav
      class="navbar navbar-expand-sm navbar-toggleable-sm  border-bottom box-shadow mb-0 border-top mt-10 box-shadow bg-secondary p-3" *ngIf= "!getData()"

    ><div >  <img [routerLink]="['/coin-list']"  class ="imgg mt-2" src="assets\btc++.svg" > </div>
 
      <div class="container" >
        
       
         <!-- <a  *ngIf= "!getData()" class="navbar-brand" [routerLink]="['/coin-list']"> CR </a>  -->
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target=".navbar-collapse"
          aria-label="Toggle navigation"
          [attr.aria-expanded]="isExpanded"
          (click)="toggle()"
      
       
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
          [ngClass]="{ show: isExpanded }"
        >
          <ul class="navbar-nav flex-grow">
            <li *ngIf= "!getData()" 
              class="nav-item"
              [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <a class="nav-link text-dark" [routerLink]="['/coin-list']" >Home  </a>
              
            </li>

            <li *ngIf= "!getData()" class="nav-item" [routerLinkActive]="['link-active']">
              <a class="nav-link text-dark" [routerLink]="['/login']"
                >Login</a
              >
            </li>

            <li *ngIf= "!getData()" class="nav-item " [routerLinkActive]="['link-active']">
              <a class="nav-link text-dark" [routerLink]="['/signup']"
                >Signup</a
              >
            </li>
<!-- 
            <li *ngIf= "getData()" class="nav-item " [routerLinkActive]="['link-active']">
              <a class="nav-link text-dark" [routerLink]="['/signup']"
                >Contact</a
              >
            </li>
               
            <li *ngIf= "getData()" class="nav-item " [routerLinkActive]="['link-active']">
              <a class="nav-link text-dark" [routerLink]="['/coin-detail']"
                >coinDetails</a
              >
            </li>


            <li *ngIf= "getData()" class="nav-item " [routerLinkActive]="['link-active']">
              <a class="nav-link text-dark" [routerLink]="['/signup']"
                >TranscationDetails</a
              >
            </li>

            
            <li *ngIf= "getData()" class="nav-item " [routerLinkActive]="['link-active']">
              <a class="nav-link text-dark" [routerLink]="['/dashboard']"
                >User Dashboard</a
              >
            </li>

            <button *ngIf= "getData()" (click)="logout()" class="btn btn-danger "  >Logout</button>  -->
         
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow"  *ngIf= "getData()">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="#">Crypto</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <input class="form-control form-control-dark w-100 rounded-0 border-0" type="text" placeholder="Search" aria-label="Search">
    <div class="navbar-nav">
      <div class="nav-item text-nowrap">
        <a class="nav-link px-3" href="#" (click)="logout()">Sign out</a>
      </div>
    </div>
    </header>
<body>
  <router-outlet></router-outlet>
</body>
  <!-- <footer class="footer bg-secondary text-center text-white p-3">
    <div class="container">
      <p>&copy; 2023 My Website. All Rights Reserved.</p>
      <ul class="list-inline">
        <li class="list-inline-item"><a class="text-white" href="#">Privacy Policy</a></li>
        <li class="list-inline-item"><a class="text-white" href="#">Terms of Use</a></li>
        <li class="list-inline-item"><a class="text-white" href="#">About Us</a></li>
      </ul>
    </div>
  </footer> -->
  



