
 
  <header>
    
   
    </header> 
   
<body>
 
  <router-outlet></router-outlet>
 
</body>
  <footer class="footer  text-center text-white p-3">
    <div class="container">
      <p>&copy; 2023 My Website. All Rights Reserved.</p>
      <ul class="list-inline">
        <li class="list-inline-item"><a class="text-white" href="#">Privacy Policy</a></li>
        <li class="list-inline-item"><a class="text-white" href="#">Terms of Use</a></li>
        <li class="list-inline-item"><a class="text-white" href="#">About Us</a></li>
      </ul>
    </div>
  </footer> 
 



