.btn {
    margin: 8px;
}
/* .tag{
    margin-bottom: 10px;
} */

.btn:hover {
  transform: scale(1.2);
} 

.container {

  background-color: #bba2a2; 

padding: 20px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: 93vh;
border-radius: 40px;

}

.h1 {
margin-top: 10px;
color: #333;
font-size: xx-large;
}

table {

margin-top: 20px;
background-color: rgb(255, 255, 255);
border: 1px solid rgb(184, 180, 180);
border-collapse: collapse;
width: 100%;
}

th,
td {
padding: 8px;
text-align: left;
}

thead {
background-color: #007bff;
color: #fff;
}

.btn {
margin-top: 10px;
color: #fff;
}

.btn-success {
background-color: #28a745;
}

.btn-warning {
background-color: #ffc107;
}

.btn-danger {
background-color: #dc3545;
}


  