<!-- <table>
    <thead>
      <tr>
        <th>#</th>
        <th>User ID</th>
        <th>Date</th>
         Add other table headers as needed
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let transaction of transactions">
        <td>{{ transaction.id }}</td>
        <td>{{ transaction.userId }}</td>
        <td>{{ transaction.date }}</td>
         Display other transaction properties as needed
        <td>
          <button >Update</button>
          <button >Delete</button>
        </td>
      </tr>
    </tbody>
  </table> -->
  
