<div class="container my-5">
    <h1 class="mb-3"> Add Crypto Coins</h1>
      <div class="row">
          <div class="col-6">
        <form #form="ngForm" (ngSubmit)="addCoin()">
            <div class="mb-3">
                <!--  This is the  property binding data ts related to the html [(ngModel)]="addCoinRequest.id" -->
              <label for="exampleInputEmail1" class="form-label">#</label>
              <input type="text" class="form-control" id="ID" name="id" [(ngModel)]="addCoinRequest.id" >
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" name="name" [(ngModel)]="addCoinRequest.name">
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Symbol</label>
                <input type="text" class="form-control" id="symbol" name="symbol" [(ngModel)]="addCoinRequest.symbol" >
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">marketCap</label>
                <input type="text" class="form-control" id="marketCap" name="marketCap" [(ngModel)]="addCoinRequest.marketCap">
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">volume24h</label>
                <input type="text" class="form-control" id="volume24h" name="volume24h" [(ngModel)]="addCoinRequest.Volume24h">
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Change24h</label>
                <input type="text" class="form-control" id="name" >
              </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
    </div>
</div>