
<div mat-dialog-title>
  <h1>Coin Form</h1>
</div>
<form [formGroup]="coinForm" (ngSubmit)="onFormSubmit()" >
<div mat-dialog-content  class="content">
  <div class="row">
  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput type="text" placeholder="" formControlName="name">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Symbol</mat-label>
    <input matInput type="text"  placeholder="" formControlName="symbol">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>MarketCap</mat-label>
    <input matInput type="number" placeholder=""  formControlName="marketCap">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Volume24h</mat-label>
    <input matInput type="number" placeholder="" formControlName="volume24h">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Change24h</mat-label>
    <input matInput  type="number" placeholder=""   formControlName="change24h">
  </mat-form-field>
   </div>
</div>
<div mat-dialog-actions class="action" >
  <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
<button mat-raised-button color="primary" type="submit">Save</button>

</div>
</form>