

<div class="coin-form-container">
  <div mat-dialog-title>
    <h1 class="form-title">Coin Form</h1>
  </div>
  <form [formGroup]="coinForm" (ngSubmit)="onFormSubmit()" class="custom-form">
    <div mat-dialog-content class="content">
      <div class="row">
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Id</mat-label>
          <input matInput type="hidden" placeholder="Enter Id" formControlName="id" name="id" aria-label="Id">
        </mat-form-field>
        <mat-form-field appearance="outline" [class.error]="coinForm.controls['name'].dirty && coinForm.hasError('required', 'name')" class="form-field">
          <mat-label>Name</mat-label>
          <input matInput type="text" placeholder="Enter Name" formControlName="name" name="name" aria-label="Name">
          <small *ngIf="coinForm.controls['name'].dirty && coinForm.hasError('required', 'name')" class="text-danger fw-bold">*Name is Required</small>
        </mat-form-field>
        <mat-form-field appearance="outline" [class.error]="coinForm.controls['symbol'].dirty && coinForm.hasError('required', 'symbol')" class="form-field">
          <mat-label>Symbol</mat-label>
          <input matInput type="text" placeholder="Enter Symbol" formControlName="symbol" name="symbol" aria-label="Symbol">
          <small *ngIf="coinForm.controls['symbol'].dirty && coinForm.hasError('required', 'symbol')" class="text-danger fw-bold">*Symbol is Required</small>
        </mat-form-field>
        <mat-form-field appearance="outline" [class.error]="coinForm.controls['marketCap'].dirty && coinForm.hasError('required', 'marketCap')" class="form-field">
          <mat-label>MarketCap</mat-label>
          <span class="currency-symbol">$</span>
          <input matInput type="number" placeholder="Enter MarketCap" formControlName="marketCap" name="marketCap" aria-label="MarketCap">
          <small *ngIf="coinForm.controls['marketCap'].dirty && coinForm.hasError('required', 'marketCap')" class="text-danger fw-bold">*MarketCap is Required</small>
        </mat-form-field>
        <mat-form-field appearance="outline" [class.error]="coinForm.controls['volume24h'].dirty && coinForm.hasError('required', 'volume24h')" class="form-field">
          <mat-label>Volume24h</mat-label>
          <span class="currency-symbol">$</span>
          <input matInput type="number" placeholder="Enter Volume24h" formControlName="volume24h" name="volume24h" aria-label="Volume24h">
          <small *ngIf="coinForm.controls['volume24h'].dirty && coinForm.hasError('required', 'volume24h')" class="text-danger fw-bold">*Volume24h is Required</small>
        </mat-form-field>
        <mat-form-field appearance="outline" [class.error]="coinForm.controls['change24h'].dirty && coinForm.hasError('required', 'change24h')" class="form-field">
          <mat-label>Change24h</mat-label>
          <input matInput type="number" placeholder="Enter Change24h" formControlName="change24h" name="change24h" aria-label="Change24h">
          <span class="percentage-symbol">%</span>
          <small *ngIf="coinForm.controls['change24h'].dirty && coinForm.hasError('required', 'change24h')" class="text-danger fw-bold">*Change24h is Required</small>
        </mat-form-field>
      </div>
    </div>
    <div mat-dialog-actions class="action">
      <button mat-raised-button color="warn" type="button" [mat-dialog-close]="false">Cancel</button>
      <button mat-raised-button color="accent" type="submit">Save</button>
    </div>
  </form>
</div>





