<p>crypto-currency works!</p>

<div class="container">
    <!--Table-->
    <mat-form-field apperance="standard">
      <mat-label>Filter</mat-label>
      <input matInput(keyup)="applyFilter($event)" placeholder="Ex." #input>
  
      </mat-form-field>
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>
          
          <!--Id Column-->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID</th>
            <td mat-cell *matCellDef="let row">{{row.id}}</td>
          </ng-container>
          <!--Progress column-->
          <ng-container matColumnDef="progress">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Progress</th>
            <td mat-cell *matCellDef="let row">{{row.progress}}%</td>
          </ng-container>
          <!--Name Column-->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
            <td mat-cell *matCellDef="let row">{{row.name}}</td>
          </ng-container>
          <!--Id Column-->
          <ng-container matColumnDef="Fruit">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID</th>
            <td mat-cell *matCellDef="let row">{{row.Fruit}}</td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef= "let row;columns:displayedColumns;"></tr>
          <!--Row shown when there is no matching data -->
          <tr class="mat-row" *matNoDataRow></tr>
          <td class="mat-cell" colspan="4">No data matching the filter *{{input.value}}y</td>
        </table>
      </div>
  </div>
